*.log
*.log.*
*.log_check
*.log.err
*.log.err.*
*.pyc
*.pid
*.csv
*.ods
*.pkl
*.wav
/.pydevproject
/.project
/nb-configuration.xml
/setup.py
/.settings
debug.txt
my_*.ini
/xls_sender
/xls_sender.err
/myenv/
/virtenv/
/venv/
*.vscode
*.session
*.lock
/config_internal.json
/test.py
*.db
